.card {
  width: 280px; }
  .card img {
    width: 260px;
    height: 260px;
    margin: 0 10px; }
  .card h4 {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em; }

.card__select ul {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #e9e8e8;
  border-radius: 10px;
  min-height: 85px; }
  .card__select ul .active {
    background: #fff; }
.card__select li {
  padding: 0 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #2c2c2c; }
  .card__select li:hover {
    cursor: pointer;
    background: #cfcbcb; }

.card__down {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .card__down p {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em; }
  .card__down button {
    position: relative;
    width: 150px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #eb5a1e;
    border-radius: 30px;
    color: #eb5a1e;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding-left: 25px; }
    .card__down button i {
      padding: 3px 6px;
      border: 1px solid #eb5a1e;
      border-radius: 50%; }
    .card__down button::after {
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      background-image: url(/public/img/plus-orange.svg);
      width: 12px;
      height: 12px; }
    .card__down button:hover {
      transition: all 0.3s;
      background: #eb5a1e;
      color: #fff; }
      .card__down button:hover i {
        border: 1px solid #fff; }
      .card__down button:hover::after {
        background-image: url(/public/img/plus-white.svg); }
