.sorting {
  display: flex;
  position: relative; }
  .sorting h5 {
    position: relative;
    padding: 0 7px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    color: #2c2c2c; }
    .sorting h5::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateX(-50%);
      left: -5px;
      background-image: url(/public/img/arrow-top.svg);
      width: 10px;
      height: 6px; }
  .sorting span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    color: #fe5f1e;
    border-bottom: 1px dashed #fe5f1e; }

.sorting__menu {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 25px;
  right: 0;
  background: #e9e5e5;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px; }
  .sorting__menu ul {
    padding: 0 14px; }
    .sorting__menu ul .active {
      color: #fe5f1e; }
  .sorting__menu li:not(:last-child) {
    padding: 0 0 23px; }

@media (max-width: 1086px) {
  .sorting {
    flex-direction: column;
    min-width: 130px; } }
